@tailwind base;

@layer base {
  html {
    @apply bg-pageText text-[10px];
  }

  html,
  body {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-pageBG text-pageText font-basis-grotesque-pro leading-100;
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    @apply m-0;
  }
  /* Body */
  .is-body1 {
    @apply text-16 md:text-18 leading-150 md:leading-135;
  }

  .is-body2 {
    @apply text-14 md:text-16 leading-155 md:leading-150;
  }

  .is-body3 {
    @apply text-12 md:text-14 leading-150 md:leading-155;
  }

  .is-body4 {
    @apply text-10 md:text-12 leading-160 md:leading-135;
  }

  .is-large {
    @apply text-18 md:text-21 leading-150;
  }
  /* Headlines */
  .is-header1 {
    @apply text-40 md:text-72 font-bold leading-120 md:leading-114;
  }

  .is-header2 {
    @apply text-32 md:text-64 font-bold leading-112 md:leading-112;
  }

  .is-header3 {
    @apply text-24 md:text-56 font-bold leading-125 md:leading-114;
  }

  .is-header4 {
    @apply text-22 md:text-40 font-bold leading-135 md:leading-120;
  }

  .is-numeric {
    font-family: Barlow !important;
    font-weight: 500;
  }

  .icon--32 {
    @apply w-24 md:w-32;
  }

  .icon--24 {
    @apply w-18 md:w-24;
  }

  .icon--18 {
    @apply w-18;
  }

  .icon--16 {
    @apply w-16;
  }

  strong {
    @apply font-bold;
  }

  .ul-init {
    @apply list-none m-0 p-0;
  }

  /* Links */
  a {
    @apply no-underline text-current;
  }

  button {
    @apply clean-btn;
  }

  /* Images */
  figure {
    @apply relative m-0;
  }

  /* Misc. */
  hr {
    @apply my-60 mx-0 border-0 h-1 bg-pageText;
  }

  ::-moz-selection {
    @apply bg-pageText text-pageBG;
  }
  ::selection {
    @apply bg-pageText text-pageBG;
  }
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

/* Focus Adjust */
a,
button,
input,
textarea,
select,
details {
  &:focus {
    outline: 1px dashed var(--pageText);
    outline-offset: 2px;

    .is-inverted & {
      outline-color: var(--pageBG);
    }

    body:not(.is-tabbing) & {
      outline: none;
    }
  }
}

p {
  &:not(:last-child) {
    @apply mb-24;
  }
}

/* ul {
  .rc & {
    @apply pl-8 text-16 leading-150;

    &:not(:last-child) {
      @apply mb-6;
    }

    li {
      @apply mb-1;

      &::before {
        content: '+';
        @apply inline-block relative -ml-4 w-4;
      }
    }
  }
} */

.li-custom {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.marker-container {
  border-radius: 50%;
  border: solid black 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: relative;
}

.marker-container.marker-container1 {
  @apply w-24 md:w-32 h-24 md:h-32;
}

.marker-container.marker-container2 {
  @apply w-18 md:w-24 h-18 md:h-24;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
.is-h1 {
  &:not(:last-child) {
    @apply mb-16;
  }

  &.has-btn {
    @apply flex flex-col items-start sm:flex-row sm:items-center;

    .btn {
      @apply mt-4 sm:mt-0 sm:ml-4;
    }
  }

  .hero & {
    font-size: clamp(4rem, calc(1.5rem + 3.5vw), 15rem);
  }
}

h2,
.is-h2 {
  &:not(:last-child) {
    @apply mb-16;
  }
}

h3,
.is-h3 {
  &:not(:last-child) {
    @apply mb-16;
  }
}

h4,
.is-h4 {
  &:not(:last-child) {
    @apply mb-24;
  }
}

a {
  .rc & {
    &:not(.btn) {
      @apply hover:opacity-40;
      background-image: linear-gradient(var(--pageText), var(--pageText));
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 100% 1px;
    }
  }
}

figure {
  .rc & {
    &:not(:last-child) {
      @apply mb-24;
    }
  }
}

hr {
  &:last-child {
    @apply mb-0;
  }
}
