@import '_config/_variables';
@import '_config/_mixins';

@import 'base/_reset';
@import 'base/_typography';
@import 'base/_buttons';
@import 'base/_chips';
@import 'base/_forms';
@import 'base/_labels';
@import 'base/_media';
@import 'base/_page';

@import 'components/_accordions';
@import 'components/_carousels';
@import 'components/_counters';
@import 'components/_cursors';
@import 'components/_drawers';
@import 'components/_dropdowns';
@import 'components/_listboxes';
@import 'components/_marquees';
@import 'components/_cookie-bar';
@import 'components/_promo-banner';
@import 'components/_header';
@import 'components/_mega-nav';
@import 'components/_footer';
@import 'components/_theme-switch';

@import 'modules/_hero';
@import 'modules/_divider';

@import '_shame';

/* TODO: Optimize for next 13 once installed */
@font-face {
  font-family: 'Barlow';
  font-weight: 500;
  src: url('/fonts/Barlow-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  font-weight: 400;
  src: url('/fonts/BasisGrotesquePro-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  font-weight: 500;
  src: url('/fonts/BasisGrotesquePro-Medium.otf') format('otf');
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  font-weight: 700;
  src: url('/fonts/BasisGrotesquePro-Bold.otf') format('otf');
}